header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-size: 3rem;
    width: 100%;
    height: 6rem;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 101;
}
.header-home{
    display: none;
}

.logo{
    margin: 0 4rem
}
.navbar-logo{
    text-decoration: none;
    color: var(--font-color);
}

.navbar {
    text-decoration: none;
    color: var(--font-color);
    font-size: 1rem;
    padding-right: 1rem;
}