th {
  border: 1px solid;
  color: black;
  font-size: 2.5rem;
  padding: 0.5rem;
  border-radius: 1.3rem;
}

td {
  color: black;
  font-size: 2rem;
  border-bottom: 0.3rem var(--primary) solid;
}

table {
  border-radius: 3rem;
  border: 2rem solid white;
  color: black;
  background-color: white;
  width: 100%;
}

.table-container {
  padding-top: 3rem;
  padding-bottom: 8rem;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  text-align: center;
}

.plate {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

.x {
  width: 3.5rem;
  color: black;
  border-color: black;
  font-weight: 900;
}

.react-datepicker__close-icon {
    position: relative;
}

.title-registro {
  padding-top: 7rem;
}

.search-bar {
  padding-top: 2rem;
  justify-content: space-between;
}
.react-datepicker__input-container {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}
.react-datepicker-popper{
  position: relative;
  transform: translate(0px, 0px);
}

.react-datepicker-popper[data-placement^=bottom] {
  padding-top: 0px; 
}

.react-datepicker-wrapper {
  width: 30rem;
}

.react-datepicker__month {
  width: 29rem;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  width: 3.7rem;
  height: 2.4rem;
  font-size: 1.4rem;
}

.react-datepicker {
  height: 20;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
  font-size: 1.4rem;
  padding-bottom: 1.5rem;
}